.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input-with-label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.register-button {
    margin-top: 20px;
    width: 200px;
}
