@import '../../theme/theme.scss';

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-with-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

#resetPassword {
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}

#resetPassword:hover {
    color: $amplimind-accent-green;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.logo-audi-lufthansa {
    height: calc($navbar-height - 20px); // same as logo in navbar
    width: auto; // Maintain aspect ratio
}
