.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-with-label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.login-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
}

#resetPassword {
    margin-top: 10px;
    text-decoration: underline;
}