.description-menu-button {
    max-width: 4;
    height: 5;
    background-color: gray;
    padding: 5px;
    margin: 5px;
}

.description-menu-image {
    width: 5;
    height: 5;
}

.description-menu-bar {
    background-color: gray;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    display: inline-block;
    border-radius: 5px;
}

.description {
    background-color: lightgray;
}

.challenge-mang-form {
    margin-top: 15px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.user-mang-form-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.challenge-mang-form-container {
    width: 100%;
}

.challenge-mang-form-container .input {
    margin-bottom: 10px;
}