.nav-bar {
    top: 0px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0px 1px 10px black;
    z-index: 999;
}

.nav-bar-content {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 85%;
    height: 100%;
}

.nav-links {
    width: 100%;
    display: flex;
}

.nav-link {
    color: #06F87F;
}

.nav-link.active {
    font-weight: bold;
}

.username {
    margin-left: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
}