@import '../../../theme/theme.scss';

.nav-bar {
    height: 75px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links {
    width: 100%;
    display: flex;
    gap: 30px;
}

.nav-link.active {
    font-weight: bold;
}

.username {
    margin-left: auto;
}
