@import '../../theme/theme.scss';

.oneLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.required {
    color: red;
}

.card {
    background-color: $amplimind-background-dark-blue;
    color: white;
}

.button.button {
    background-color: $amplimind-accent-light-blue;
}

button.button:hover {
    background-color: $amplimind-accent-green;
    color: $amplimind-accent-dark-blue;
}