@import '../../theme/theme.scss';

.oneLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.optionalMessage {
    padding: 6px 8px 6px 8px;
}

.required {
    color: red;
}

.commit-card {
    background-color: $amplimind-background-dark-blue;
    color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 1000px;
}

.commit-button button.button {
    background-color: $amplimind-accent-light-blue;
}

.commit-button button.button:hover {
    background-color: $amplimind-accent-green;
    color: $amplimind-accent-dark-blue;
}

p.description {
    white-space: pre-line;
    background-color: $amplimind-background-dark-blue;
    line-height: 0.5;
}