.oneLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
}

.optionalMessage {
    padding: 6px 8px 6px 8px;
}

.required {
    color: red;
}

.commit-card {
    background-color: #03213b;
    color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 1000px;
}

.commit-button button.button {
    background-color: #2d656f;
}

.commit-button button.button:hover {
    background-color: #06f87f;
    color: #002339;
}

p.description {
    white-space: pre-line;
    background-color: #03213b;
}