// Colors
$amplimind-background-cyan: #2b5c6a;
$amplimind-background-green: #3db9a1;
$amplimind-background-dark-blue: #03213b;
$amplimind-background-light-blue: #3b5363;
$amplimind-accent-green: #06f87f;
$amplimind-accent-dark-blue: #002339;
$amplimind-accent-light-blue: #2d656f;
$lufthansa-blue: #030c4f;
$audi-black: #000000;

// Fonts
$font-primary: 'Catamaran', sans-serif;
$font-weight-primary: 400;
$font-amplimind: 'Comfortaa', monospace;
$font-weight-amplimind: 800;

// Heights
$navbar-height: 100px;
$footer-height: 110px; //depends on license text
$layout-height: calc(100vh - #{$footer-height}); // 100vh - footer height
