$amplimind-background-cyan: #2B5C6A;
$amplimind-background-green: #3DB9A1;
$amplimind-background-blue: #03213B;
$amplimind-accent-green: #06F87F;
$amplimind-accent-dark-blue: #002339;
$amplimind-accent-light-blue: #2D656F;
$lufthansa-blue: #030C4F;
$audi-black: #000000;
