#flowRoot4138 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    font-family: sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

#flowRoot4150 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    font-family: sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

#text4164 {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-stretch: condensed;
    font-size: 192.14060974px;
    line-height: 125%;
    font-family: "Helvetica Neue";
    -inkscape-font-specification: "Helvetica Neue, Heavy Condensed";
    text-align: start;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: start;
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 2.92932129;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path4308 {
    stroke-width: 2.92932129;
}

#path4310 {
    stroke-width: 2.92932129;
}

#path4312 {
    stroke-width: 2.92932129;
}

#text4168 {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-stretch: condensed;
    font-size: 55.71302414px;
    line-height: 125%;
    font-family: "Helvetica Neue";
    -inkscape-font-specification: "Helvetica Neue, Heavy Condensed";
    text-align: start;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: start;
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 2.4554863;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path4315 {
    stroke-width: 2.4554863;
}

#path4317 {
    stroke-width: 2.4554863;
}

#path4319 {
    stroke-width: 2.4554863;
}

#path4321 {
    stroke-width: 2.4554863;
}

#path4323 {
    stroke-width: 2.4554863;
}

#path4325 {
    stroke-width: 2.4554863;
}

#path4327 {
    stroke-width: 2.4554863;
}

#path4329 {
    stroke-width: 2.4554863;
}

#text4172 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    font-family: sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
}

#text4176 {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-stretch: condensed;
    font-size: 121.86096954px;
    line-height: 125%;
    font-family: "Helvetica Neue";
    -inkscape-font-specification: "Helvetica Neue, Heavy Condensed";
    text-align: start;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: start;
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 5.37088108;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path4333 {
    stroke-width: 5.37088108;
}

#path4335 {
    stroke-width: 5.37088108;
}

#path4337 {
    stroke-width: 5.37088108;
}

#text4180 {
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    font-stretch: condensed;
    font-size: 105.41305542px;
    line-height: 125%;
    font-family: "Helvetica Neue";
    -inkscape-font-specification: "Helvetica Neue, Heavy Condensed";
    text-align: start;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: start;
    fill: #000000;
    fill-opacity: 1;
    stroke: #000000;
    stroke-width: 4.64595747;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path4340 {
    stroke-width: 4.64595747;
}

#path4342 {
    stroke-width: 4.64595747;
}

#path4344 {
    stroke-width: 4.64595747;
}

#path4346 {
    stroke-width: 4.64595747;
}

#g4382 {
    fill: #9f6c44;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path4380 {
    fill: #4b3a21;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.unauthorized-container {
    background: #111;
    min-height: 100vh;
    overflow-x: auto;
}

.staff {
    animation: strike 0.5s 0.5s cubic-bezier(1, 0.25, 1, 1) both;
    bottom: 15vh;
    height: 100vh;
    left: 50%;
    position: absolute;
    transform: translate(15%, 0);
    width: 200px;
}

.shine {
    animation: flash 2s 1s ease;
    background: #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.text {
    animation-name: shake;
    animation-iteration-count: 20;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-duration: 0.1s;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 150px;
}
@media (min-width: 768px) {
    .text {
        width: 300px;
    }
}
.text * {
    fill: #fff;
    stroke: #fff;
}

@keyframes flash {
    0% {
        opacity: 0.85;
    }
    50% {
        opacity: 0.5;
    }
    75%, 100% {
        opacity: 0;
    }
}
@keyframes strike {
    from {
        transform: translate(15%, -100%);
    }
}
@keyframes shake {
    0%, 50%, 100% {
        transform: translate(-100%, -50%);
    }
    25% {
        transform: translate(-102%, -52%);
    }
    75% {
        transform: translate(-98%, -48%);
    }
}