@import '../../../theme/theme.scss';

.footer {
    position: static;
    bottom: 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-link {
    color: white;
    font-size: medium;
}

.footer-link:hover {
    color: $amplimind-accent-green;
}
