.footer {
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 1px 10px black;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-link {
    color: white;
    font-size: medium;
}

.footer-link:hover {
    color: #06F87F;
}