// use theming and normalizer
@import './theme/theme.scss';
@import './theme/normalizer.scss';

// Globals
#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-primary;
}

button {
    box-sizing: border-box;
}

// Classes
.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}