.password-strength-meter {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 5px;
}

.password-strength-meter-progress {
    border-radius: 3px;
    height: 10px;
    appearance: none;
}
