.password-strength-meter {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.password-strength-meter-progress {
    border-radius: 3px;
    height: 10px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}